version: '3.2'

services:
  web:
    container_name: clinic_nginx
    image: nginx
    volumes:
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./src/:/var/www/html:ro
    ports:
      - '80:80'
    depends_on:
      - php
      - database

  php: &app-service
    container_name: clinic_php
    build:
      args:
        user: clinic
        uid: 1000
      context: .
      dockerfile: .docker/php/Dockerfile
    volumes:
      - ./.docker/php/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ./.docker/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
      - ./src/:/var/www/html:rw

  #  queue:
  #    <<: *app-service
  #    container_name: clinic_queue
  #    restart: always
  #    command: php /var/www/html/artisan queue:work

  scheduler:
    <<: *app-service
    container_name: clinic_scheduler
    restart: always
    command: /scheduler/scheduler.sh

  database:
    container_name: clinic_database
    image: postgres:13.1
    environment:
      - 'POSTGRES_DB=${DB_NAME}'
      - 'POSTGRES_USER=${DB_USER}'
      - 'POSTGRES_PASSWORD=${DB_PASSWORD}'
    ports:
      - 5432:5432
    volumes:
      - postgres-database-clinic:/var/lib/postgresql/data:rw

#  redis:
#    image: redis:6-alpine
#    restart: always
#    command: redis-server
#    volumes:
#      - redis-data:/data:rw
#    ports: [ '6379', '16379:6379' ]

volumes:
  postgres-database-clinic:
    driver: local